<div class="headerContainer" data-ng-controller="HeaderController">
	<div class="headerLogo">
		<a href="/#!/" class="noPadding">
			<img alt="Audyo" class="img-responsive text-center appNameImg" src="modules/core/img/brand/Audyo-dark.png" />
		</a>
	</div>
	<div class="rightNav" data-ng-hide="authentication.user">
		<a href="/#!/signup" ui-route="/signup" ng-class="{active: $uiRoute}">Sign Up</a>
		<a href="/#!/signin" ui-route="/signup" ng-class="{active: $uiRoute}">Sign In</a>
	</div>
	<div class="rightNav" data-ng-show="authentication.user">
		<a href="/#!/profile">{{authentication.user.displayName}}</a>
	</div>
</div>
