<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Sign up using your social accounts</h3>
	<div class="col-md-12 text-center">
		<a data-ng-repeat="account in usersModel.socialAccounts" data-ng-href="/auth/{{account}}" class="undecorated-link">
			<img data-ng-src="/modules/users/img/buttons/{{account}}.png">
		</a>
	</div>
	<h3 class="col-md-12 text-center">Or with a username</h3>
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-user"></i>
						</span>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>
						</span>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</div>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-success btn-lg btn-block">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
